<html>
    <head>
       {% load staticfiles %}
        <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Seabird-Ur Wings 2 rule d SKY</title>

        <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

        <!--   bootstrap     -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <!--    custom css    -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>

    <div class="container-fluid">
        <div class="row">
             <section>
                <canvas id='beerCanvas'></canvas>
                      <div class="coming_content">
                           <div class="separator_container">
                              <div class="separator line_separator">
                                <div class="col-md-12">
                                    <div class="cs-container">
                                        <h1>Coming Soon !</h1>
                                    </div>
                                </div>
                               </div>
                            </div>
                            <div class="col-md-12">
                                <div class="logo img-responsive">
                                    <img src="{% static 'img/logo.jpg' %}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h1>First-Ever Practical-Based English Learning Academy</h1>
                                <h3>limited seats only <span><a href="https://form.jotform.me/91764968819479">REGISTER NOW</a></span></h3>
                            </div>

                    <div class="col-md-12">
                      <div id="clockdiv">
                                <div class="col-sx-6">
                                    <span class="days" id="day"></span>
                                    <div class="smalltext">Days</div>
                                </div>
                                <div class="col-sx-6">
                                    <span class="hours" id="hour"></span>
                                    <div class="smalltext">Hours</div>
                                </div>
                                <div class="col-sx-6">
                                    <span class="minutes" id="minute"></span>
                                    <div class="smalltext">Minutes</div>
                                </div>
                                <div class="col-sx-6">
                                    <span class="seconds" id="second"></span>
                                    <div class="smalltext">Seconds</div>
                                </div>
                            </div>
                     </div>
                        </div>
                 </section>
        </div>
    </div>

     <!-- Footer  -->
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Copyright &copy; 2019 All Rights Reserved By <span>SEABIRD English Academy</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
     <!--   bootstrap  js   -->
     <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

     <!--   custom  js   -->
     <script src="{% static 'js/script.js' %}"></script>

     <script>

        var deadline = new Date("july 13, 2019 15:37:25").getTime();

        var x = setInterval(function() {

        var now = new Date().getTime();
        var t = deadline - now;
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("day").innerHTML =days ;
        document.getElementById("hour").innerHTML =hours;
        document.getElementById("minute").innerHTML = minutes;
        document.getElementById("second").innerHTML =seconds;
        if (t < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "TIME UP";
                document.getElementById("day").innerHTML ='0';
                document.getElementById("hour").innerHTML ='0';
                document.getElementById("minute").innerHTML ='0' ;
                document.getElementById("second").innerHTML = '0'; }
        }, 1000);
    </script>

    </body>
</html>
